.slide header:only-child h1 {
    line-height: 180%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 745px;
    width: 768px;
    font-size: 240%;
}

.slide header:first-child > h1 {
    margin: 25px 0 27px;
}
